* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  padding: 25px 25px 25px 0px;
  background-color: #e0cfaf;
}

header h1 {
  font-size: 3.2vw;
  display: inline-block;
  padding: 10px 30px 10px 90px;
  border-radius: 0px 30px 30px 0px;
  background-color: #48ad50;
  box-shadow: 4px 4px 6px #3b3b3b;
}

header nav {
  float: right;
}

header nav ul li {
  font-size: 2.05vw;
  font-weight: bold;
  display: inline-block;
  padding: 20px;
}

a:any-link {
  color:#174d1b;
  text-decoration: none;
}

a:hover {
  color: #48ad50;
}

a:visited {
  color:#5a1b6d;
}

a:visited:hover {
  color:#ae39d1;
}

.banner {
  position: relative;
}

/* Used banner's relative positioning to absolutely position tagline over it. */

.tagline {
  font-size: 2.93vw;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  position: absolute;
  right: 2%;
  bottom: 4%;
  color: #f8f8f8
}

.forest {
  height: auto;
  width: 100%;
}

.about-me h2, .work h2 {
  font-size: 2.5vw;
  width: 17%;
  text-align: center;
  border: solid 10px #48ad50;
  border-radius: 30px 30px 0px 0px;
  background-color: #48ad50;
  margin: 30px 10px 0px 10px;
  left: 5%;
  position: relative;
}

/* Couldn't figure another way to make the text scale in the way I wanted without
this vw value, otherwise the box around it resized it unfavorable ways. */

.bio {
  font-size: 1.8vw;
  width: 55%;
  height: 30%;
  display: block;
  left: 5%;
  position: relative;
  padding: 10px 30px 10px 30px;
  margin: 0px 10px 0px 10px;
  background-color: #e0cfaf;
  border-radius: 0px 30px 30px 30px;
  box-shadow: 10px 10px 10px #3b3b3b;
}

.prof-pic {
  float: right;
  position: relative;
  right: 4%;
  width: 28%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #3b3b3b;
}

.work {
  display: inline-block;
  position: relative;
}

.horiseon {
  width: 60%;
  height: 70%;
  position: relative;
  display: block;
  left: 5.6%;
  border: solid 10px #e0cfaf;
  border-radius: 0px 10px 10px 10px;
  float: left;
}

/* Used this hover states to make image links look more interactive. */

.horiseon:hover, .dinner-drinks:hover, .dnd-map:hover, .bike-trail:hover {
  filter: alpha(opacity=80);
  opacity: .8;
}

.horiseon-text {
  font-size: 3vw;
  position: absolute;
  display: block;
  padding: 13px 18px 13px 18px;
  left: 6%;
  float: left;
  background-color: #e0cfaf;
}

.img-container {
  position: relative;
}

.dinner-drinks, .dnd-map, .bike-trail {
  width: 30%;
  height: 20%;
  right: 2%;
  margin: 0px 10px 10px 10px;
  border: solid 10px #e0cfaf;
  border-radius: 10px;
  float: right;
  position: relative;
}

.dinner-drinks-text, .dnd-map-text, .bike-trail-text {
  font-size: 2vw;
  right: 2%;
  margin: 10px 10px 10px 10px;
  padding: .5%;
  float: right;
  position: absolute;
  background-color: #e0cfaf;
  z-index: +1;
}

/* Did my best with these percentage stylings to keep the text boxes in place over
the images but there has to be a better way. Made it work with media queries for now. */

.dnd-map-text {
  top: 39.5%;
}

.bike-trail-text {
  top: 69.5%;
}

.contact-me {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}

.contact-me h3 {
  font-size: 2.5vw;
  width: 17%;
  left: 5%;
}

.contact-me p, .contact-me :any-link {
  font-size: 1.8vw;
  margin: 30px;
}

/* Changed nav link padding with media queries to fit as the screen shrinks */

@media screen and (max-width: 800px) {
  header nav ul li {
    padding: 20px 10px 20px 10px;
  }
}

@media screen and (max-width: 625px) {
  header nav ul li {
    padding: 20px 5px 20px 5px;
  }
}

@media screen and (max-width: 487px) {
  header {
    padding: 25px 10px 25px 0px;
  }
  header nav ul li {
    padding: 20px 0px 20px 0px;
  }
}

/* Used media queries to adjust height of the dnd-maps text as screen re-sizes. 
This feels so hacksy but I don't know how else to deal with how it moves right now. */

@media screen and (max-width: 1257px) {
  .dnd-map-text {
    top: 40%;
  }
}

@media screen and (max-width: 1019px) {
  .dnd-map-text {
    top: 41%;
  }
}

@media screen and (max-width: 748px) {
  .dnd-map-text {
    top: 42%;
  }
}

@media screen and (max-width: 554px) {
  .dnd-map-text {
    top: 43%;
  }
}